@import model.SearchResponseList
@(models: SearchResponseList, wordsFiltered: Map[String, Long], searchQuery: String)

@main("YTLytics") {
    <section id="top">
        <div class="wrapper">
            <h1>Welcome to YTLytics</h1>
            <form method="get">
                <input name="query" placeholder="Enter search terms" required>
                <input type="hidden" name="sessionId" value="@models.getSessionID">
                <button type="submit">Go!</button>
            </form>
        </div>
    </section>

    @if(!models.getRequestModels().isEmpty()) {
        <section id="results">
            <div class="wrapper">
            @for(searchReq <- models.getRequestModels()) {
                <div style="margin-top: 40px;">
                @if(!searchReq.getResults().isEmpty()) {
                    <h2>Search Results for term: @searchReq.getTitle()</h2>
                    <p id="wordStat"><a href="@routes.HomeController.wordStats(searchReq.getTitle())" target="_blank">Word Stats</a></p>
                    <ol>
                    @for(result <- searchReq.getResults()) {
                        <li class="result-item">
                            <div class="result-content">
                                <div class="text-content">
                                    <p><b>Title:</b> <a href="@result.getVideoUrl" target="_blank">@result.getTitle</a>
                                        <b>Channel:</b> <a href="@routes.HomeController.channelVideos(result.getChannelId())" target="_blank">@result.getChannelTitle</a>
                                        <b>Description:</b> @result.getDescription
                                        <b>Tags: </b>
                                        @for(tag <- result.getTags) {
                                            <a href="@routes.HomeController.taglytics(tag)" target="_blank">@tag</a>
                                        }
                                    </p>
                                </div>
                                <img src="@result.getThumbnailUrl" alt="Video Thumbnail" class="thumbnail">
                            </div>
                        </li>
                    }
                    </ol>
                }
                </div>
            }
            </div>
        </section>
    }
}