@import model.SearchResponseList
@(models: SearchResponseList)

@main("YTLytics") {
    <section id="top">
        <div class="wrapper">
            <h1>Welcome to YTLytics</h1>
            <form method="get">
                <input name="query" placeholder="Enter search terms" required>
                <input type="hidden" name="sessionId" value="@models.getSessionID">
                <button type="submit">Go!</button>
            </form>
        </div>
    </section>

    <section id="results">
        <div class="wrapper">
        @if(models.getRequestModels().isEmpty()) {
            <p>No results found. Please enter a search term and try again.</p>
        } else {
            @for(searchReq <- models.getRequestModels()) {
                <div style="margin-top: 40px;">
                    @if(!searchReq.getResults().isEmpty) {
                        <h2>Search Results for term: @searchReq.getTitle()</h2>
                        <ol>
                        @for(result <- searchReq.getResults()) {
                            <li>
                            <div style="margin-top: 20px;">
                                <p><b>Title: </b> <a href=@result.getVideoUrl target="_blank">@result.getTitle</a>,
                                    <b>Channel: </b><a href="@routes.HomeController.channelVideos(result.getChannelId())" target="_blank">@result.getChannelTitle</a>,
                                <b>Description: </b> @result.getDescription,
                                    <img src="@result.getThumbnailUrl" alt="Video Thumbnail" style="width: 120px; height: auto;" /></p>
                            </div>
                            </li>
                        }
                        </ol>
                    }
                </div>
            }
        }
        </div>
    </section>
}
